html {
    font-size: 10px;
    font-family: "微軟正黑體";

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header{
    height: 3.6rem;
    background-color: #00000090;
    margin-bottom: 0.5rem;
    text-align:start;
    line-height: 3.5rem;
    font-size: 2.8rem;
    box-shadow: 0 0.1rem 0.1rem 0.1rem #333;
    color:#0e0;
    text-shadow: 0.1rem 0.1rem 0.1rem yellow;
}
.tabMiddle,.tab {
    width: 100%;
    /* min-width: 40rem;
    min-height: 40rem; */
    height: 2rem;
    margin:  auto;
    border-radius: 20px;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.tab{
    margin-top: 2rem;
    width:90%;
    height:48%;
    background-color: #cccc0060;
    margin-bottom: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #33333360;
}

table {
    width: 80%;
    min-height: 25rem;
    margin: 2rem auto 0.5rem auto;
    font-size: 2rem;
    background-color: #ffffff60;
    border-radius: 1.2rem;
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-align: center;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #33333360;
}
.catlog {
    width: 95%;
    display: grid;
    grid-template-columns:2fr 1fr 1fr 2fr 4fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    position: relative;
    bottom: 1.2rem;
}

.catlog {
    margin-top: 0.2rem;
    text-align: center;
}

.catlog div {
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem 0.2rem #333;
    margin: 0.5rem auto;
}

.left,
.right {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    color: #eee;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
    background: linear-gradient(to left, blue, #ccf);
    border: 0.1rem solid blue;
    box-sizing: content-box;
    justify-self: end;
    text-align: center;
}

.leftyear,
.rightyear {
    display: block;
    width: 8rem;
    height: 2.4rem;
    border-radius: 1rem;
    color: #00a;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    border: 0.1rem solid #49ED18;
    background: radial-gradient(ellipse at center, #fff, #eca, #49ED18);
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #ED170C;
    text-align: center;
}

.catlog i {
    padding: 0 0.2rem;
}

.right {
    background: linear-gradient(to right, blue, #ccf);
    justify-self: start;
}

.left:hover {
    background: linear-gradient(to left, #99f, blue);
    font-size: 2.4rem;
    transform: scale(1.0);
}

.right:hover {
    background: linear-gradient(to right, #99f, blue);
    font-size: 2.4rem;
    transform: scale(1.0);
}

.leftyear:hover,
.rightyear:hover {
    background: radial-gradient(ellipse at center, #fff,#ddd, #49ED18);
    transform: scale(1.02);
}

.left:active,
.right:active {
    box-shadow: inset 0.1rem 0.1rem 0.1rem 0rem #336;
    transform: scale(1);
    border: 0.1rem solid #00a;
    box-sizing: border-box;

}

.left:active {
    box-shadow: inset -0.1rem 0.1rem 0.1rem 0rem #336;
}

.leftyear:active,
.rightyear:active {
    box-shadow: -0.1rem -0.1rem 0.1rem 0.1rem #ED170C;
}

td {
    border: 0.1rem solid lightblue;
    border-radius: 1rem;
    width: 3rem;
    height: 3rem;
}

tr:nth-child(1) {
    font-family: "標楷體";
    font-weight: bold;
}

td:hover {
    cursor: pointer;
    background: linear-gradient(blue, #eef);
    color: #fff;
    font-weight: 800;  
}

td:nth-child(1),
td:nth-child(7) {
    background: #00DB00;
    border: 0.2rem solid green;
}

#today {
    background: #cccccc80;
    border: 0.2rem solid green;
    border-radius: 1.2rem;
}

#firstr {
    background-color: #eeeeff80;
}

#firstr:hover {
    background: linear-gradient(#aae, #ccf);
    color: #fff;
    font-weight: bold;
}

select {
    width: 4rem;
    height: 2.4rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    outline: none;
    background-color: #49ED1840;
    border: 2px solid lightgreen;
    font-weight: bold;
    margin: 1rem auto;
    text-shadow: 0.1rem 0.1rem 0.1rem #666;
    color: #00e;
    text-align: center;
}

select[name="y"] {
    width: 7.2rem;
}

select[name="m"] {
    width: 5rem;

    margin-left:1rem;    
}

span {
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 0.2rem;
    font-family: "標楷體";
    text-shadow: 0.1rem 0.1rem 0.2rem #333;
}

.arrow {
    animation: arrow 1s ease-in infinite alternate;
    text-shadow: 0.1rem 0.1rem 0.1rem #66e;
}
@keyframes arrow {
    0% {
        color: #88f;
    }
    33% {
        color: #aaa;
    }
    66% {
        color: #cc5;
    }
    100% {
        opacity: 1s;
        color: #ee0;
    }
}
.today{
    display: block;
    margin: 0.5rem auto 0.5rem auto;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    color: #00f;
    font-weight: bold;
}
.today:hover{
    color: #ff0;
    font-weight: bold;
    text-decoration: underline;
}
footer img{
    vertical-align:top;
}
footer{
    height: 4rem;
    background-color: #00000090;
    color:#eee;
    text-align: center;
    line-height: 3.9rem;
    font-size: 2.4rem;
    position:absolute;
    width: 100%;
    bottom: 0;
}
